@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="main">
        <div id="header">
            <a href="#" class="logo"><img src="/img/logo.gif" width="101" height="29" alt="" /></a>
            <ul id="top-navigation">
                <li><a href="@Url.Action("Index", "Home")" class="active">Homepage</a></li>
                <li><a href="@Url.Action("Index", "客戶資料")">客戶資料</a></li>
            </ul>
        </div>
        <div id="middle">
            <div id="left-column">
                <h3>Header</h3>
                <ul class="nav">
                    <li><a href="#">Lorem Ipsum dollar</a></li>
                    <li><a href="#">Dollar</a></li>
                    <li><a href="#">Lorem dollar</a></li>
                    <li><a href="#">Ipsum dollar</a></li>
                    <li><a href="#">Lorem Ipsum dollar</a></li>
                    <li><a href="#">Dollar Lorem Ipsum</a></li>
                </ul>
                <a href="#" class="link">Link here</a>
                <a href="#" class="link">Link here</a>
            </div>
            @RenderBody()


            @if (IsSectionDefined("QuickInfo"))
            {
                <div id="right-column">
                    <strong class="h">Quick Info</strong>
                    <div class="box">

                        @RenderSection("QuickInfo", required: false)

                    </div>
                </div>
            }

        </div>

        @Utility.footer()

        @Utility.ToGenderText(true)

    </div>

    @RenderSection("scripts", required: false)

</body>
</html>
